/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* COLORS ======= */
/* EMS ======= */
/* 	ADVANCED TYPOGRAPHY STYLES ============================================================================== */
@font-face {
  font-family: 'River-City-Leather';
  src: url("../fonts/River-City-Leather.eot");
  src: url("../fonts/River-City-Leather.eot?#iefix") format("embedded-opentype"), url("../fonts/River-City-Leather.woff") format("woff"), url("../fonts/River-City-Leather.ttf") format("truetype"), url("../fonts/River-City-Leather.svg#River-City-Leather") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'River-City-Leather';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-facebook, .icon-twitter, .icon-tumblr, .icon-pinterest, .icon-instagram, .icon-arrow-down, .icon-arrow-up {
  font-family: 'River-City-Leather';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-facebook:before {
  content: "\22"; }

.icon-twitter:before {
  content: "\23"; }

.icon-tumblr:before {
  content: "\24"; }

.icon-pinterest:before {
  content: "\25"; }

.icon-instagram:before {
  content: "\26"; }

.icon-arrow-down:before {
  content: "\27"; }

.icon-arrow-up:before {
  content: "\28"; }

body {
  font-family: courier, serif;
  line-height: 1.75em;
  font-size: 1em; }

h1 {
  font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 2em;
  line-height: 1.75em; }
  @media screen and (min-width: 50em) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em; }
  @media screen and (min-width: 50em) {
    h2 {
      font-size: 2em; } }

h3 {
  font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
  font-weight: 800; }

h4 {
  font-weight: 600; }

h5 {
  font-weight: 400; }

h6 {
  font-weight: 300; }

p {
  font-size: 1em; }
  @media screen and (min-width: 50em) {
    p {
      font-size: 1.15em; } }

p.intro {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.75em; }
  @media screen and (min-width: 50em) {
    p.intro {
      font-size: 1.5em; } }

p.subtitle {
  text-align: center;
  display: block;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 2em auto 0 auto;
  padding: .8em; }
  p.subtitle > strong {
    font-weight: 800; }

strong {
  font-weight: 800; }

a {
  text-decoration: none;
  color: black; }

article a {
  border-bottom: 1px dotted black;
  color: black;
  display: inline-block;
  padding: 0; }
  article a:hover {
    color: black;
    border: none;
    border-bottom: 1px dotted black; }
  article a:active {
    background-color: #b7b0a7;
    color: white;
    border-bottom: 1px dotted black; }

blockquote {
  font-style: italic;
  line-height: 175%;
  font-size: 1.15em;
  float: left;
  font-family: courier, serif;
  font-style: italic;
  font-weight: 400;
  border-left: 1px dotted #e5e3dd;
  padding: 0 0 0 2em;
  margin: 2em 0 2em; }
  @media screen and (min-width: 50em) {
    blockquote {
      font-size: 1.25em; } }

blockquote:before {
  font-family: courier, serif;
  content: "\201c";
  font-size: 5em;
  color: #e5e3dd;
  text-indent: -1.25em;
  margin-top: .25em;
  float: left; }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  padding: 1.25em .75em .75em;
  line-height: 175%; }
  @media screen and (min-width: 50em) {
    figcaption {
      font-size: 1em; } }

.run-in {
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .15em; }

.subscript {
  vertical-align: sub;
  font-size: 100%;
  margin-right: .4em;
  letter-spacing: .1em;
  line-height: 0em; }

.page {
  background-image: url(../img/paper_bg.jpg); }

.featured-post {
  float: left;
  width: 100%;
  position: relative;
  margin: 0 0 2em 0; }

.hero-visual {
  float: left;
  width: 100%; }
  .hero-visual img {
    width: 100%; }
  .hero-visual video {
    width: 100%; }

.hero-info {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 90%;
  padding: 1em 5%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.95);
  -webkit-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.95);
  -moz-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.95);
  -ms-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.95);
  -o-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.95);
  filter: dropshadow(color=black, offx=2, offy=2); }

.button {
  display: block;
  padding: .5em .75em;
  margin-right: 0.625em;
  margin-bottom: 0.625em;
  background-color: white;
  border: 3px solid #e5e3dd; }
  .button:active {
    color: white;
    background-color: #33302c; }
  .button:hover {
    color: #b7b0a7; }
  @media screen and (min-width: 37.5em) {
    .button {
      margin-bottom: 0; } }

.tag-title {
  float: left;
  width: 100%;
  padding: .5em;
  margin: 0 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -moz-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -ms-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -o-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  filter: dropshadow(color=white, offx=1, offy=1); }
  .tag-title > h3 {
    margin-top: .25em; }
  @media screen and (min-width: 37.5em) {
    .tag-title {
      width: auto; } }

.filter-list {
  list-style-type: none;
  margin: 0 5%;
  width: 90%; }
  .filter-list li {
    float: left;
    width: 100%; }
    .filter-list li .button {
      width: 100%;
      padding: .5em 0;
      margin-right: 0;
      text-align: center; }
    @media screen and (min-width: 37.5em) {
      .filter-list li {
        width: auto;
        margin: 0; }
        .filter-list li .button {
          width: auto;
          padding: .5em .75em;
          margin-right: 0.625em; } }

.products ul li {
  float: left; }

.product-post {
  display: block;
  background-color: white;
  padding: 0.3125em;
  margin: 0.3125em;
  width: 18.75em;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5); }
  .product-post img {
    float: left;
    width: 100%;
    margin: 0 0 1em 0; }
  .product-post h3 {
    font-size: 1.5em;
    font-family: "alternate-gothic-3-D", helvetica, arial, sans-serif;
    margin: 2em 0 .25em 0; }
  .product-post .post-summary {
    font-size: .95em;
    line-height: 1.75em;
    margin: .5em 0 .25em 0; }

ul {
  margin: 0;
  padding: 0; }

header {
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url(../img/paper_bg.jpg);
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5); }

#logo {
  float: left;
  width: 10em;
  margin: 2em; }
  #logo img {
    width: 100%; }
  @media screen and (min-width: 50em) {
    #logo {
      width: 12.5em; } }

#primary {
  float: left;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .1em; }
  @media screen and (min-width: 50em) {
    #primary {
      width: 25em;
      float: right;
      margin: 2em 9em 2em 0; } }
  #primary ul {
    width: 96%;
    margin: 1em 2% 0 2%;
    padding: 0;
    border-right: 1px dotted #b7b0a7; }
    @media screen and (min-width: 50em) {
      #primary ul {
        width: 25em;
        float: none;
        margin: 0 auto; } }
    #primary ul li {
      float: left;
      width: 33%; }

.primary-link {
  font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
  display: block;
  width: 100%;
  font-size: 1.75em;
  padding: .25em 0;
  color: #33302c;
  border-left: 1px dotted #b7b0a7;
  text-align: center; }
  .primary-link:hover {
    color: #65605a; }
  .primary-link:active {
    color: black; }

#mail {
  position: absolute;
  left: 0;
  top: 1em;
  background-color: white;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5); }

#cart {
  font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
  position: absolute;
  overflow: hidden;
  font-size: 1.25em;
  right: 0;
  top: 1.5em;
  color: #b7b0a7;
  background-color: white;
  padding: .5em 0 .25em .5em;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5); }
  #cart .cart-counter {
    padding: 1em .75em;
    margin-left: .5em;
    color: white;
    background-color: #b7b0a7; }

footer {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #b7b0a7; }

#footer-logo {
  float: left;
  width: 100%;
  background-color: black;
  padding: 2em 0; }

#footer-nav {
  font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
  border-bottom: 1px dotted #33302c;
  float: left;
  width: 100%; }
  #footer-nav ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%; }
    @media screen and (min-width: 50em) {
      #footer-nav ul {
        width: 50em;
        float: none;
        margin: 0 auto; } }
    #footer-nav ul li {
      float: left;
      width: 50%; }
  #footer-nav .mail-links {
    font-size: 1.75em;
    text-transform: uppercase;
    display: block;
    color: #33302c;
    padding: 1em 0; }
    #footer-nav .mail-links:hover {
      color: black; }
    #footer-nav .mail-links:active {
      color: #b7b0a7;
      background-color: black; }

#location {
  float: left;
  width: 100%;
  padding: 2em 0; }

#social {
  border-top: 1px dotted #33302c;
  float: left;
  width: 100%; }
  #social ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%; }
    @media screen and (min-width: 31.25em) {
      #social ul {
        width: 31.25em;
        float: none;
        margin: 0 auto; } }
    #social ul li {
      float: left;
      width: 20%; }
  #social .social-links {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    -moz-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    -ms-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    -o-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    filter: dropshadow(color=white, offx=1, offy=1);
    font-size: 1.75em;
    display: block;
    color: #33302c;
    padding: 1em 0; }
    #social .social-links:hover {
      color: black; }
    #social .social-links:active {
      color: #b7b0a7;
      background-color: black; }

#copyright {
  float: left;
  width: 100%;
  padding: 0 0 2em 0;
  color: #65605a;
  background-color: black; }

.page {
  float: left;
  width: 100%; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
